<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <h2><a href="http://empirica5.com">Customer Experience Manager</a></h2>
            <p class="item-intro text-muted">Plataforma que permite realizar el seguimiento de la satisfacción de los clientes.</p>
            <%= image_tag "portfolio/cem1.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/cem2.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/cem3.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/cem4.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <a href="<%= root_path(:anchor => "portfolio") %>" type="button" class="btn btn-primary"><i class="fa fa-times"></i> Volver a la página principal</a>
          </center>
        </div>
    </div>
  </div>
  
</div>
