<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <h2><a href="https://play.google.com/store/apps/details?id=games.freakapps.periscopersclub">Finder for Periscope</a></h2>
            <p class="item-intro text-muted">App móvil que permite realizar búsquedas por palabras en la red social Periscope.</p>
            <%= image_tag "portfolio/periscope1.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/periscope2.webp", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/periscope3.webp", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/periscope4.webp", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <a href="<%= root_path(:anchor => "portfolio") %>" type="button" class="btn btn-primary"><i class="fa fa-times"></i> Volver a la página principal</a>
          </center>
        </div>
    </div>
  </div>
  
</div>
