<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <h2><a href="http://metirium.com">metirium.com</a></h2>
            <p class="item-intro text-muted">Aplicación por suscripción que permite registrar, analizar y representar muestras de datos procedentes de cualquier fuente.</p>
            <%= image_tag "portfolio/metirium1.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/metirium2.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/metirium3.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/metirium4.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>

    
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/metirium5.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <a href="<%= root_path(:anchor => "portfolio") %>" type="button" class="btn btn-primary"><i class="fa fa-times"></i> Volver a la página principal</a>
          </center>
        </div>
    </div>
  </div>
  
</div>
