<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <h2>TurismoVital.com</h2>
            <p class="item-intro text-muted">Marketplace de actividades turísticas no convencionales.</p>
            <%= image_tag "portfolio/turismovital1.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/turismovital2.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/turismovital3.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <%= image_tag "portfolio/turismovital4.png", :class => "img-responsive img-centered", :alt => "" %>            
          </center>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body"> 
          <center>
            <a href="<%= root_path(:anchor => "portfolio") %>" type="button" class="btn btn-primary"><i class="fa fa-times"></i> Volver a la página principal</a>
          </center>
        </div>
    </div>
  </div>
  
</div>
